doctype html
html
  head
    title login 	
    meta(charset="utf-8") 	
    link(rel="shortcut icon", href="") 	
    link(rel="stylesheet", type="text/css", href="../public/stylesheets/style-login.css")
  body
    h1 登录 	
    #all
      form(action="/", method="post")
        #sign 用户注册
 			
        ul
          li#username
            span 名称：
            input.in(type="text", name="username")
 			
        ul
          li#password
            span 密码：
            input.in(type="text", name="password")
 			
        input#error(type="text", name="error", disabled="disabled", value="")
 		
 			
        input#login(value="登录")
 			
        input#reg(value="注册") 	
    script(type="text/javascript", src="../public/javascripts/jquery-1.11.2.min.js") 	
    script(src="../public/javascripts/act.js")
