doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/jquery-1.11.2.min.js')
  body
  h1 注册 	
  #all
    form(action="/", method="post")
      #sign 用户注册
      ul
        li#username
          span 名称：
          input.in(type="text", name="username")
      ul
        li#id
          span 学号：
          input.in(type="text", name="id")
      ul
        li#phone
          span 电话：
          input.in(type="text", name="phone")
      ul
        li#email
          span 邮箱：
          input.in(type="text", name="email")
      ul
        li#password
          span 密码：
          input.in(type="text", name="password")
      ul
        li#re-password
          span 重复密码：
          input.in(type="text", name="re-password")
      input#error(type="text", name="error", disabled="disabled", value="")
      input#restart(type="reset", value="重置")
      input#submit(type="submit", value="提交") 	
   
  script(src="/javascripts/act.js")
