extends layout

block content
  
  h1 详情 	
  #all
    form(action="/", method="get")
      #sign 用户详情
      ul
        li#username
          span 名称：
          input.in(type="text", name="username", disabled="disabled")
      ul
        li#id
          span 学号：
          input.in(type="text", name="id", disabled="disabled")
      ul
        li#phone
          span 电话：
          input.in(type="text", name="phone", disabled="disabled")
      ul
        li#email
          span 邮箱：
          input.in(type="text", name="email", disabled="disabled") 
      a#submit(href='/signout') 退出	
  script(src="/javascripts/act.js")
