doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style-login.css')
    script(type='text/javascript' src='/javascripts/jquery-1.11.2.min.js')
  body
    h1 登录
    #all
      form(action="/", method="post")
        #sign 用户注册
        ul
          li#username
            span 名称：
            input.in(type="text", name="username")
        ul
          li#password
            span 密码：
            input.in(type="text", name="password")
        input#error(type="text", name="error", disabled="disabled", value="")
        input#login(type='submit' value="登录")
        a#reg(href='/index') 注册 	
    script(type="text/javascript", src="../public/javascripts/jquery-1.11.2.min.js") 	
    script(src="../public/javascripts/act.js")
